@use "globales/variables" as v;
@use "globales/mixin" as m;

.cursos {
  background-image:
    linear-gradient(to right, rgb(0 0 0 / 0.65), rgb(0 0 0 / 0.65)),
    url("../../img/cursos_bg.jpg");

  padding: 10rem 0;
  margin-top: 10rem;
  background-size: cover;
  background-position: 50%;

  &__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
      grid-column: 2 / 3;
    }
  }

  &__texto {
    color: v.$blanco;
    text-align: center;
    font-size: 2.4rem;
  }

  &__enlace {
    color: v.$blanco;
    margin-top: 2rem;
    display: inline-block;
    border: 2px solid v.$primario;
    text-transform: uppercase;
    padding: 1rem 5rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4rem;
    transition: background-color 300ms;

    &:hover {
      background-color: v.$primario;
      color: v.$blanco;
    }
  }

  &__grid {
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
}
