@use "globales/variables" as v;
@use "globales/mixin" as m;

.blog__grid {
  display: grid;
  gap: 4rem;
  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.entrada__contenido {
  padding: 2rem;
  &__titulo {
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
  }

  &__fecha {
    color: v.$primario;
    font-size: 1.6rem;
  }
}
  .entrada__enlace {
    color: v.$negro;
    margin-top: 2rem;
    display: inline-block;
    border: 2px solid v.$primario;
    text-transform: uppercase;
    padding: 1rem 5rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4rem;
    transition: background-color 300ms;
  }

  .entrada__enlace:hover{
    color: v.$blanco;
    background-color: v.$primario;
  }

  .entrada__texto{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.6rem;
  }
  .entrada{
    max-width: 80rem;
    margin: 0 auto;
  }
  .entrada__contenido{
    padding: 2rem;
  }