@use "globales/variables" as v;
@use "globales/mixin" as m;


.footer{
    margin-top: 5rem;
    background-color: v.$negro;
    padding: 5rem 0;


    &__enlace{
        font-size: 2.8rem;
        color: v.$blanco;
        text-decoration: none;
        font-weight: 700;
    }

    &__enlace:hover{
        color: v.$primario;
    }

    &__copy{
        font-size: 2.8rem;
        color: v.$blanco;
        font-weight: 700;
        text-align: center;
    }
}

.footer__contenido{
    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
        gap: 2rem;
    }
}